name: Flutter CI

on:
  push:
    branches:
      - main  # or your branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Create dummy project
        run: flutter create --project-name=test_dummy .

      - name: Install dependencies
        run: flutter pub get

      - name: Run analysis
        run: flutter analyze

      - name: Run tests
        run: flutter test
